body{
   
    width: 100%;
    height: 100vh;
    
} 
 .crew{
    background-image: url('../assets/crew/background-crew-mobile.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: auto;
        width: 100%;
} 
 .crew-con {
    display: flex;
     flex-direction: column-reverse;
     justify-content: space-between;
     align-items: center;
     gap: 8rem !important;
     margin: 2rem auto;
     /* background-color: red; */
 }

.crew-det p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #d0d6f9;
    width: 100%;
    padding: 1rem 3rem ;
    letter-spacing: .1rem;
    text-align: center;
}
.crew-det {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin: 1rem 0 0rem;
    padding-top: 20rem;
    /* background-color: gray; */
    position: relative;
    height: auto;
}
.crew-det h4 {
      font-family: "Bellefair";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      text-transform: uppercase;
      color: #ffffff;
    margin: 0 auto;
  }
.crew-det h3{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.crew-img{
    width: 100%;
    position: absolute;
    top: 0%;
} 
.crew-img img{
    margin: 0 auto;
    height: 250px;
}
.crew-line{
    width: 85%;
    margin: 0 auto;
    border: 1px solid #383B4B;
    background: #FFFFFF;
    opacity: 0.17;
    position: absolute;
        top: 43%;
        left: 10%;
    text-align: center;
    
}
.slick-dots>li>button::before {
    color: white !important;
    font-size: 0.7rem !important;
}
.slick-slider {
    position: relative;
    width: 100%;
    height: auto;
    
}
.slick-dots {
    position: absolute;
    top: 48%;
    max-width: 100%;
    height: 35px;
}
@media (min-width: 769px) {
    .crew{
        background-image: url('../assets/crew/background-crew-tablet.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover; 
            height: 100vh;
    }
    .crew-con{
        padding: 0 3rem;
    display: flex;
      flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 8rem ;
        margin: 0rem auto;
        height: 100vh;

    }
        .slick-slider {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 90%;
            margin-top: -30rem;
   
        }
        .crew-det{
            height: 100vh;
            position: relative;
            padding-top: 9rem;
            margin: 0;
        }
        .crew-img {
            margin: 27rem 0 0rem;
            padding: 6rem 0 0;
            width: 100%;

            
     
        }
   .crew-img img {
       margin: 0 auto;
       height: 500px;
    z-index: 23;
    
   }
    .crew-line{
        display: none;
    }
   .crew-det h3{
    font-family: 'Bellefair';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 46px;
        text-align: center;
        text-transform: uppercase;
   }
   .crew-det h4{
    font-family: 'Bellefair';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.5;
   }
   .crew-det p{
    font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: #D0D6F9;
        padding: 0 9rem;

   }
   .slick-dots {
       position: absolute;
       top: 45%;
       max-width: 100%;
       height: 35px;
   }
}

@media screen and (min-width: 900px) {
.crew {
        background-image: url('../assets/crew/background-crew-desktop.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: auto;
    }

          .crew-con {
            
             padding: 8rem 3rem;
             display: flex;
             flex-direction: row;
             justify-content: space-between;
             align-items: center;
             gap: 1rem;
             /* margin: 0rem auto; */
             height: 100vh;
    
         } 
    .crew-det {
        height: auto;
        padding:2rem 1rem 2rem 7rem;
        margin: 0;
        text-align: left;
        width: 60%;

    }
  .slick-slider {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: auto;
      margin-top: -10rem;

  }
.slick-dots {
    position: absolute;
    top: 80%;
    left: -33%;
    max-width: 100%;
    height: 35px;
}
   .crew-img {
       margin: 0rem 0 0rem;
       padding: 0rem 0 0;
       width: 100%;
       position: absolute;
       top: -31%;
       left: 90%;
   }
   .crew-img img {
       margin: 0 auto;
       height: 500px;
       z-index: 23;
   }
.crew-det h3 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 46px;
    text-align: left;
    text-transform: uppercase;
    /* align-self: flex-start; */
    
}

.crew-det h4 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    text-align: left;
    margin: 0;
}

.crew-det p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #D0D6F9;
    padding: .8rem 5rem 0 0;

}
}